---
import Layout from "@/layouts/Layout.astro";
import bg from '@/assets/bg_404.jpg'
---

<Layout
  title="Pagina No enctrada"
  subtitle="Pagina No enctrada"
  bgImage={bg.src}
>
<p class="text-cemter text-lg">
    Volver {''}
    <a class="text-coffee-600 font-bold" href="/">Inicio</a>
</p>

</Layout>