---

import Layout from "@/layouts/Layout.astro";
import bg from '@/assets/bg_home.jpg'
---

<Layout 
    title="Inicio"
    bgImage={bg.src}
  
>
  <h1>Hola Joinova</h1>

  <nav>
    <a href="/nosotros">Ir a Nosotros</a>
    <a href="/tienda">Tienda</a>
  </nav>

  
</Layout>