---

import Layout from "@/layouts/Layout.astro";
import bg from '@/assets/bg_home.jpg'
---

<Layout 
    title="Inicio"
    subtitle="Disfruta una deliciosa taza de cafe"
    bgImage={bg.src}
  

   <h1>Inicio</h1>

   <section slot="after-main-content">
      Promociones
   </section>




  
</Layout>