---
import { Image, Picture } from 'astro:assets';
import Layout from "../layouts/Layout.astro";
import image from "../assets/bg_home.jpg";
---

<Layout>
  <h1>Hola Joinova</h1>

  <nav>
    <a href="/nosotros">Ir a Nosotros</a>
    <a href="/tienda">Tienda</a>
  </nav>

  <Image
    src={image}
    alt="Imagen de fondo"
    formats={['avif', 'webp']}
    width={1200}
    loading="eager"
  />
</Layout>