---
   import Layout from "../layouts/Layout.astro"
// 1. Hacemos la petición a tu WordPress local
const response = await fetch('http://localhost/coffeeshop/wordpress/wp-json/wp/v2/pages')
const pages = await response.json()
   ---
<Layout
    title="Nosotrs"

>
  
 </Layout>


<a href="/nosotros" class="text-xl font-bold text-amber-600 hover:underline">
  Ir a Nosotros
</a>


