---
   import Layout from "../layouts/Layout.astro"

   ---
<Layout
    title="Nosotrs"

>
  
 </Layout>


<a href="/nosotros" class="text-xl font-bold text-amber-600 hover:underline">
  Ir a Nosotros
</a>


